
<div class="jumbotron">
    <h3>Here are the things I can do, or like to do</h3>
    <p>Note.. I don't have an arbitrary rating system that says how much I know of a thing</p>
</div>
<%= render 'skill', obj: @skills %>
<div align="center">
    <%= will_paginate %>
</div>