
<div class="container">
<div class="row">

<% obj.each do |education| %>
     <div class="col-sm-6">
        <h5><%= education.place %> </h5>
         <div class="col-sm">
            <%= education.study_focus %>
        </div>
       </div>    

    <% end %>
   </div>
   </div>
    