<% obj.each do |skill| %>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div>
                    <%= link_to skill.skill, skill_path(skill) %>
                </div>
            </div>
        </div>
    </div>
    <% end %>