<div class="row">
<div class="col-xs-8 col-xs-offset-2">
<div class="well well-lg">
<ul>
<% obj.each do |skill| %>
    
        
        
    <li><%= skill.skill %></li>
    <% end %>
        </ul>
    </div>
        </div>
    </div>