<h1>Hello</h1>
<div class="container">
    <h1>Experience</h1>
    
    <%= render 'experience', obj: @experiences %>    
</div>
<hr>
<div class="container">
    <h1>Skills</h1>
</div>
<hr>
<div class="container">
    <h1>Education</h1>
    <%= render 'education', obj: @educations %>
</div>

