

<%= render 'experience', obj: @experiences %>
<hr>
<div class="container">
    <h1 align="center">Skills</h1>
    <%= render 'skill', obj: @skills %>
    
</div>
<hr>
<div class="container">
    <h1 align="center">Education</h1>
    <%= render 'education', obj: @educations %>
</div>
<hr>
<div class="container">
    <h1 align="center">Projects</h1>
    <%= render 'project', obj: @projects %>
</div>

