
<div class="container">
    <h1 align="center">Experience</h1>
    
    <%= render 'experience', obj: @experiences %>    
</div>
<hr>
<div class="container">
    <h1 align="center">Skills</h1>
    <%= render 'skill', obj: @skills %>
    
</div>
<hr>
<div class="container">
    <h1 align="center">Education</h1>
    <%= render 'education', obj: @educations %>
</div>

