<div class="container-fluid">
<% obj.each do |project| %>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div class="row">
                    <div class="col-xl-12">
                       <h5> <%= project.title %></h5>
                       <div class="col-sm">
                            <%= project.description %>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>