<% obj.each do |experience| %>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div>
                    <%= link_to experience.title, experience_path(experience) %>
                </div>
            </div>
        </div>
    </div>
    <% end %>