<div class="container-fluid">
<h1 class="education-home display-1">Education</h1>
<hr>
<% obj.each do |education| %>
    <div class="row p-2">
        <div class="col education-item">
            <h5><%= education.place %></h5>
                <div class="col">
                     <%= education.study_focus %>
                </div>
        </div>
    </div>
<% end %>